
@model IEnumerable<MiniMuhasebeci.Models.tblCari>




@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div align="center"><img src="~/images/das.jpeg" alt="logu" /></div>

